.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 2% auto;
    background: #FBF8F6;
    padding: 10px;
    overflow: hidden;
}

.button-box {
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #6efdc41f;
    border-radius: 33px;
}

.toggle-btn {
    padding: 10px 32px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    color: black;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: #3BBA9C;
    border-radius: 30px;
    transition: 0.5s;
}

.input-group-login {
    top: 150px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-group-register {
    top: 120px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-feild {
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: #3BBA9C;
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 34px 0px;

}

.form-text {
    color: black;
    font-size: 12px;
    /*bottom:auto;*/
    margin-top: 29px;
    position: absolute;
}

#login {
    left: 50px;
}

#login input {
    color: black;
    font-size: 15;
}

#register {
    left: 450px;
}

#register input {
    color: black;
    font-size: 15;
}

/* Nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side,
.center,
.right-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.right-side>div {
    margin-left: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.center>div {
    margin-top: -50px;
    /* margin-right: -100px; */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid black;
    background-color: lightcyan;
}

.nav-link-wrapper a:hover {
    color: black;
}

.text-uppercase {
    text-transform: uppercase;
}

.container {
    margin: 0 100px 0 100px;
}