.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side,
.center,
.right-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.right-side>div {
    margin-left: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.center>div {
    margin-top: -50px;
    /* margin-right: -100px; */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid black;
    background-color: lightcyan;
}

.nav-link-wrapper a:hover {
    color: black;
}

.fund-options {
    margin-top: 30px;
}

.section6 {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.categories {
    color: rgb(37, 180, 37);
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 38px;
    background-color: #F8F8F8;
}

.left-footer,
.right-footer {
    display: flex;
}

.footer>.left-footer>div {
    margin-right: 20px;
    font-size: 0.9em;
}

.footer>.right-footer>div {
    margin-left: 20px;
    font-size: 0.9em;
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.left-footer a {
    color: #5a5959;
}

/* .nav-link-wrapper:hover {
    border-bottom: 2px solid black;
    background-color: rgb(175, 187, 175);
} */

.nav-link-wrapper a:hover {
    color: black;
}

.fa {
    padding: 3px;
    font-size: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.9;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}

/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
}

/* Email */
.fa-envelope {
    background: #03233a;
    color: white;
}

.line {
    margin-top: -65px;
    width: 100%;
    color: #00A671;
}

.sec1 {
    margin: 50px 0 150px 0;
}