/* Master styles */



body {
    margin: 0;
}

.container {
    display: grid;
}

/* Nav styles */

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side,
.center,
.right-side {
    display: flex;
}

.nav-wrapper>.left-side>div {
    margin-right: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.right-side>div {
    margin-left: 20px;
    font-size: 0.9em;
}

.nav-wrapper>.center>div {
    margin-top: -50px;
    /* margin-right: -100px; */
}

.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #3F3F44;
    text-decoration: none;
    /* transition: color 0.5s; */
}

.nav-link-wrapper:hover {
    border-bottom: 2px solid black;
    background-color: #7DB569;
}

.nav-link-wrapper a:hover {
    color: white;
}

div.heading1 {
    opacity: 1;
}

.c1 {
    font-size: 3.5em;
}

.c3 {
    font-size: 1.1em;
    font-weight: 350 !important;
    margin-right: 9px;
}

div>ul {
    list-style: none;
}

.green {
    color: #037362;
}

.gr1 {
    display: grid;
    grid-template-columns: 400px 420px 400px;

}

.compaigns {
    margin: 0 0 10px 0;
}

.subsection {
    margin: 40px 0 0 0;
}

.ml1 {
    margin-left: 30px;
}

.compaign {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.subcompaign {
    border: 1px solid lightgrey;
    border-radius: 2px;
    /* padding: 13px; */
    width: 275px;
    height: 100%;
    padding-bottom: 10px;
}

.subcompaign:hover {
    margin-top: -3px;
    /* transition-delay: 0.2s; */
    box-shadow: 2px 2px 10px #DADADA;
}

.funding {
    color: green;
    margin: 10px 0 0 10px;
    font-size: 15px;
}

.compaignname {
    margin: 5px 0 0 10px;
    font-size: 18px;
    font-weight: 600;
    color: black;
}

.description {
    margin: 5px 0 0 10px;
    color: grey;
    font-size: 12px;
    font-weight: 400;
}

.category {
    margin: 15px 0 0 10px;
    color: grey;
    font-size: 14spx;
    font-weight: 400;
}

.raised {
    margin: 5px 0 0 10px;
    color: black;
}

.progres {
    margin: 5px 0 0 10px;
    width: 90%;
}

i {
    color: black;
}

.usd {
    color: grey;
    font-size: 12px;
}

.perc {
    color: grey;
    font-size: 14px;
}

.icon {
    margin: 5px 0 0 10px;
}

.sec1 {
    margin-right: 10px;
}

.line {
    margin-top: -25px;
    width: 100%;
    color: #00A671;
}

.readytojoin {
    margin: 100px 0 0 50px;
    padding: 90px 30px 30px 100px;
    width: 1185px;
    background-color: #F8F8F8;
    display: grid;
    grid-template-columns: 55% 45%;
}

.text {
    font-weight: 600;
}

.button {
    margin: 30px 0 50px 0;
    border-radius: 20px;
    background-color: #00A671;
    color: white;
}

.button1 {
    margin-left: 10px;
    width: 200px;
    background-color: white;
    color: black
}

.button1:hover {
    background-color: #F8F8F8;
    color: black;
}

.line1 {
    margin-top: 100px;
}

/* footer */

.compaignlinks {
    text-decoration: none !important;
}

a.compaignlinks {
    text-decoration: none;
}

.section2 {
    display: grid;
    grid-template-columns: 45% 55%;
    margin: 50px 0 120px 0;

}

.txt {
    margin: 100px 0 100px 150px;
}

.head2 {
    font-size: 40px;
}

.b1 {
    margin: 20px 0 0 0;
    width: 250px;
    height: 60px;
    border-radius: 25px;
    background-color: #00A671;
    color: white;
}

.img>img {
    border-radius: 25px;
}

.fund-options {
    margin-top: 80px;
    padding: 30px 150px 30px 150px;
    background-color: #F8F8F8;
}

.section6 {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.categories {
    color: rgb(37, 180, 37);
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #F8F8F8;
    padding: 30px 160px 40px 160px;
}

.left-footer,
.right-footer {
    display: flex;
}

.footer>.left-footer>div {
    margin-right: 20px;
    font-size: 0.9em;
}

.footer>.right-footer>div {
    margin-left: 20px;
    font-size: 0.9em;
}

.left-footer a {
    color: #5a5959;
    font-size: 14px;
}

div>a>ion-icon {
    width: 30px;
    height: 30px;
    color: #0E2D25;
}

div>a>ion-icon:hover {
    color: #00A671;
    transition: 0.2s color;
}

.list-style {
    padding: 0;
    margin-top: 10px;
}

.list-style>a>li {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    border-radius: 5px;
    margin-left: -6px;
}

.list-style>a {
    text-decoration: none;
    color: black;
}

.list-style>a>li:hover {
    background-color: #fff;
}

.text>a {
    text-decoration: none;
}

.nav-link-wrapper>div a {
    color: green;
    font-weight: 500;
    text-decoration: none;
    /* transition: color 0.5s; */
}

.nav-link-wrapper>div>a:hover {
    color: #fff;
}

.nav-link-wrapper>div {
    /* padding: -10px; */
    margin-top: -8px;
}

.nav-link-wrapper>div:hover {
    border-bottom: 2px solid black;
    background-color: #7DB569;
}

div.dropdown {
    padding: 0px;
}

.nav-link-wrapper>div>div>a {
    color: black !important;
}